<h1>Receitas</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %>
    <%= recipe.stuff %>
    <%= recipe.calories %>
    <%= number_to_currency(recipe.cost) %></li>
  <% end %>
</ul>
