<article>
  <header>
    <h1><%= @recipe.name %></h1>
  </header>
  <h2>Ingredientes</h2>
  <p><%= @recipe.stuff %></p>
  <h2>Calorias</h2>
  <p><%= @recipe.calories %></p>
  <h3>Custo</h3>
  <p><%= @recipe.cost %></p>
</article>
